@use './link';
@use './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  font-family: var(--font-body), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: var(--font-weight-light);
  color: var(--color-foreground);

  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), serif;
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.spacer {
  flex: 1;
}
