@import url('material-symbols/rounded');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans font-normal tracking-wider;
  }

  *::selection {
    @apply bg-tertiary-90/80 text-neutral-10/80;
  }

  html {
    @apply h-full scroll-p-12 !scroll-smooth bg-neutral-99 text-neutral-10/80 md:scroll-p-32;
  }

  body {
    @apply flex h-full flex-col self-start;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif uppercase tracking-wider antialiased;
  }

  a {
    @apply rounded-md underline underline-offset-4 transition-all hover:text-neutral-10 focus-visible:no-underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-40/50;
  }

  .material-symbols-rounded {
    font-size: inherit;
    font-variation-settings:
      'FILL' 1,
      'wght' 600,
      'GRAD' 0,
      'opsz' 20;
    color: inherit;
  }
}
